@font-face{
	font-family: 'Idealist Sans Light';
	src: url(../fonts/Idealist-Light.ttf) format("truetype");
}

@font-face{
	font-family: 'Idealist Sans';
	src: url(../fonts/Idealist-sans.ttf) format("truetype");
}

@font-face{
	font-family: 'Idealist Sans SC';
	src: url(../fonts/Idealist-SC.ttf) format("truetype");
}

.pop_up{
	width: 27%;
	background: #2c3e50;
	position: absolute;
	z-index: 1;
	display: none;
	text-align: center;
	padding: 2%;
}

#time_dropdown, #day_dropdown{
	width: 150px;

}

.button{
	background: #1abc9c;
	border: none;
	font-family: "Open Sans";
	padding: 10px;
}

.close{
	background: #34495e;
}

#buttons{
	margin-top: 10%;
}

.field{
	clear: both;
	text-align: right;
	line-height: 20px;
	margin-top: 5%;
}

label{
	float: left;
	padding-right: 10px;
	/*font-family: "Idealist Sans Light";*/
	color: #ecf0f1;
	font-size: 1em;
}

.input_field{
	border: none;
	background: #ecf0f1;
	height: 20px;
}

#submit{
	border: none;
	background: #34495e;
	font-family: "Idealist Sans SC";
	font-weight: bold;
	font-size: 1em;
	color: #78b7ab;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 3%;
	width: 70%;
	height: 30px;
	display: block;
	margin: auto;
	margin-top: 10%;
	cursor: pointer;

}

#submit:hover{
	background: #2c3e50;
}

#form{
	/*float: left;*/
/*	width: 60%;
	padding: 10%;
	margin: auto;
	min-width: 230px;*/
}

#info{
	margin:auto;
	width: 80%;
	min-width: 230px;
}

.highlighted{
	background: #c69b74;
}